@import "~bootstrap/scss/bootstrap.scss";
body{
background: black;
}
#container > div{
font-size: 5em;
margin: auto;
color: red;
border-radius: 5px;

}
#input{
    border-radius: 100px;
    font-size: 5px;
}